*{
    outline:none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
}

#calculator {
    background-color: black;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 20px ;
    border: 1px solid white;
    box-shadow: 5px 5px 50px black;
    overflow: hidden;
}


#display{
    padding: 10px;
    height: 60px;
    width: 100%;
    background-color: hsl(0, 0%, 50%);
    font-size: 30px;
    text-align: left;
    border: none;

}
.numbers{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    width: 100%px;
    height: 350px;
    justify-content: center;
    padding: 10px

}

button{
    font-size: 30px;
    background-color: hsl(0, 0%, 30%);
    color: white;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    outline:none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
button:hover{
    background-color: hsl(0, 0%, 50%);
    outline:none;
}
button:active{
    background-color: hsl(0, 0%, 70%);
    outline:none;
}

.operator{
    background-color: hsl(37, 96%, 40%);
    outline:none;
}
.operator:hover{
    background-color: hsl(37, 96%, 60%);
    outline:none;
}

.operator:active{
    background-color: hsl(37, 96%, 80%);
    outline:none;
}

